@use "_reset.scss";

//スムーススクロール
html{
    scroll-behavior: smooth;
    color: #2c2c2c;
}



main{
    max-width: 1200px;

    margin: 30px auto;

    
}


h2{
    color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 40%;
    /* border-bottom: 5px solid #71bbd1; */
    margin: 200px auto 30px;
    border-radius: 10px;
    background: rgb(221, 215, 230);
background: linear-gradient(180deg, rgb(241, 131, 182) 0%, rgb(229, 157, 235) 100%);
/* box-shadow: 0 6px 8px #dcd2e0; */
}
  




//header部分
header{
    width: 96%;
    height: 70px;
    background-color: #FFFFFFaa;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px #717171;
    }

    h1{
        width: 25%;
        padding-left: 20px;
        
        a{
        color: #222;
        }
    }
        
        #g-nav{
            width: 75%;
            ul{
            display: flex;
            justify-content: right;
            position: relative;
            li{
            margin: 0 14px;
            a{
            color: #222;
            padding: 20px 14px;
            &:hover{
            text-decoration: underline 2px;
            text-underline-offset: 2px;
            }
            }
            }
            }
        }/* #g-nav */
        
        
        
        /* .drop-menu{
            position: absolute;
            left: 0;
            top: 40px;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
            .drop-inner{
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 10px;
            height: 160px;
            margin-top: 20px;
            box-shadow: 0 0 8px #717171;
            }
            p{
            margin: 0 40px;
            }
            img{
            display: block;
            margin-bottom: 6px;
            }
        } *//* /.drop-menu */
        
        /* #g-nav li:hover>.drop-menu{
            opacity: 1;
            visibility: visible;
        } */

        #profile{
            max-width: 100%;

            .myname{
                font-size: 24px;
                margin-bottom: 30px;
            }

            .prf{
                text-align: center;
            }
            
            .timeline{
                /* background-color: #43C625; */
                padding: 20px;
                margin: 30px auto;
                text-align: center;

                p{
                    /* background-color: #1c9296; */
                    
                    
                    a{
                    background-color: #df604a;
                    padding: 16px 50px;
                    color: #ffffff;
                    border-radius: 10px;
                    box-shadow: 0 0 8px #717171;

                    &:hover{
                        background-color: #7b8ef8;
                    }
                }
                }
                
            }

        }
        
        
        //main-visual部分
        .main-visual{
        width: 100%;
        height: 50vh;
        margin-bottom: 200px;
        background: rgb(255,173,246);
        background: radial-gradient(circle, rgba(255,173,246,1) 0%, rgba(51,161,255,1) 100%);
        }
        .main-visual>img{
        object-fit: cover;
        width: 100%;
        height: 50vh;
        }


    


    /* スキル */
    
    .image-grid {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .image-grid img {
        width: calc(25% - 10px);
        margin-bottom: 20px;
      }
      
      .image-grid img:last-child {
        margin-bottom: 0;
      }
      


      /* サイト */
      .sitebtn{
        /* background-color: #43C625; */
        padding: 20px;
        margin: 30px auto;
        text-align: center;

        p{
            /* background-color: #1c9296; */
            
            
            a{
            background-color: #df604a;
            padding: 20px 50px;
            color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 8px #717171;

            &:hover{
                background-color: #7b8ef8;
            }
        }
        }
        
    }


    /* バナー */
    .banner-wrapper{
      display: flex;
      /* max-width: 1200px; */
      width: 100%;
      padding: 0 10px;
      margin: 50px auto;
      justify-content: space-between;
      border: 2px solid #90d4ff;
      background-color: #e2dddd;
      
  }
  
  .benner-box{
      width: 48%;
      padding: 20px;
      margin: 20px;
      background-color: #fff;
  }
  
  .benner-box>h3{
      margin-bottom: 20px;
      font-size: 24px;
      
  }
  
  .benner-box>p{
      height: 250px; /*  */
  }
  
  .banner-pc{
      width: 300px;
  }
  
  .banner-sp{
      width: 320px;
  }
  
  .benner-box>dl{
      margin: 20px 0;
  }
  
  .benner-box dt{
      font-size: 18px;
      font-weight: bold;
  }
  
  .benner-box dd{
      margin-bottom: 16px;
  }
  
  /* カラー情報 */
  .benner-box span{
      margin-right: 20px;
      font-size: 20px;
  }
  
  .benner-box span::before{
      display: inline-block;
      content: "";
      width: 40px;
      height: 40px;
      margin-right: 10px;
  }
  
  /* USENのバナー */
  .usen>.benner-box span:first-of-type::before{
      background-color: #43C625;
  }
  
  .usen>.benner-box span:nth-of-type(2)::before{
      background-color: #FFFF00;
  }
  
  .usen>.benner-box span:nth-of-type(3)::before{
      background-color: #FF6900;
  }
  
  
  /* 和菓子のバナー */
  .wagashi>.benner-box span:first-of-type::before{
      background-color: #ffe9e8;
      border: 1px solid #333;
      
  }
  
  .wagashi>.benner-box span:nth-of-type(2)::before{
      background-color: #fa7777;
  }
  
  .wagashi>.benner-box span:nth-of-type(3)::before{
      background-color: #342628;
  }
  
  
  /* 加茂水族館のバナー */
  .kamosui>.benner-box span:first-of-type::before{
      background-color: #2b3399;
  }
  
  .kamosui>.benner-box span:nth-of-type(2)::before{
      background-color: #ffd100;
  }
  
  .kamosui>.benner-box span:nth-of-type(3)::before{
      background-color: #71bbd1;
  }
  
  
  
  /* ZOZOのバナー */
  .zozo>.benner-box span:first-of-type::before{
      background-color: #ffffeb;
      border: 1px solid #333;
  }
  
  .zozo>.benner-box span:nth-of-type(2)::before{
      background-color: #ff6c85;
  }
  
  .zozo>.benner-box span:nth-of-type(3)::before{
      background-color: #403934;
  }

/* wagashigifのバナー */
  .zozo>.wagashigif span:first-of-type::before{
    background-color: #ffffff;
    border: 1px solid #333;
    }

    .zozo>.wagashigif span:nth-of-type(2)::before{
        background-color: #765a23;
    }

/* summerのバナー */
  .summer>.summerbn span:first-of-type::before{
    background-color: #ffffff;
    border: 1px solid #333;
    }

    .summer>.summerbn span:nth-of-type(2)::before{
        background-color: #38434d;
    }


/* xmasのバナー */
    .summer>.xmasbn span:first-of-type::before{
        background-color: #1D1A2F;
        /* border: 1px solid #333; */
    }

    .summer>.xmasbn span:nth-of-type(2)::before{
        background-color: #56324C;
    }

    .summer>.xmasbn span:nth-of-type(3)::before{
        background-color: #E22625;
    }

  
  
  
  @media (max-width:767px){
      .banner-wrapper{
          display: block;
          width: 100%;
      }
  
      .benner-box{
          width: 90%;
          margin: 50px auto;
      }
  
      .benner-box>p{
          margin: 0 auto;
      }
  
      .benner-box span{
          display: block;
          margin-bottom: 10px;
      }
  }


  /* イラスト ★*/
    
  #illust .image-grid {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
      
  }
  
  #illust .image-grid img {
    width: calc(50% - 10px);
   
    margin-bottom: 20px;
    
    
  }
  
  /* #illust .image-grid img:last-child {
    margin-bottom: 0;
  } */